@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

nav {
  display: flex;
  align-items: center;
  background-color: #264f4a;
  color: whitesmoke;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
}

.categorul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.categorli {
  margin-right: 10px;
}

.categorli:hover {
  border-radius: 25px;
  background-color: whitesmoke;
  color: #264f4a;
  transition: 0.12s;
}
.logo {
  margin-right: auto;
  padding-left: 15px;
}

.link {
  position: relative;
  width: 100%;
  max-width: 400px;
  padding: 10px 30px 10px 30px;
  justify-content: space-between;
  align-items: center;
  display: flex;
}
.link:hover {
  border-radius: 25px;
  transition: 0.12s;
}

footer {
  color: black;
  padding: 15px;
  margin: 0 auto;
  overflow: hidden;
  bottom: 0;
  display: flex;
  background-color: #b37272;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  justify-content: space-evenly;
  height: auto;
  width: 100%;
}

.bold {
  font-weight: 750;
}

.searchbar {
  display: flex;
  align-items: center;
  padding: 10px 30px, 10px 30px;
  margin-right: 50px;
  justify-content: center;
  color: black;
  border-radius: 10px;
}
